<div class="school">
  <h2>{{name}}</h2>
  <p>{{address}}</p>
</div>
<h2>Các lớp học:</h2>
<classroom name="T2110E" [numberOfStudents]="5" [teacher]="{name:'Nguyễn Tuân',age:18,tel:'099999', address:'8 TTT'}"></classroom>
<classroom name="T2111E" [numberOfStudents]="6" [teacher]="{name:'Trịnh Quang Hòa',age:18,tel:'099999', address:'8 TTT'}"></classroom>
<classroom name="T2112E" [numberOfStudents]="7" [teacher]="{name:'Trịnh Quang Hòa',age:18,tel:'099999', address:'8 TTT'}"></classroom>
<classroom name="T2010E" [numberOfStudents]="8" [teacher]="{name:'Trịnh Quang Hòa',age:18,tel:'099999', address:'8 TTT'}"></classroom>
<classroom name="T2011E" [numberOfStudents]="9" [teacher]="{name:'Trịnh Quang Hòa',age:18,tel:'099999', address:'8 TTT'}"></classroom>
