<h2>Sĩ số lớp: {{numberOfStudents}}</h2>
<input type="number" [(ngModel)]="numberOfStudents" placeholder="Number of students" />
<h2>Giáo viên:</h2>
<teacher></teacher>
<h1 [style]="color">Danh sách sinh viên lớp {{name}}:</h1>
<student name="Bùi Anh Tuấn" tel="0987654311"></student>
<student name="Bùi Anh Tuấn1" tel="0987654312"></student>
<student name="Bùi Anh Tuấn2" tel="0987654313"></student>
<student name="Bùi Anh Tuấn3" tel="0987654314"></student>
<student name="Bùi Anh Tuấn4" tel="0987654315"></student>
